@import '../node_modules/sass-true/sass/true';
@import '../src/sass/yiq.scss';

$yiq-debug: true;
$true-terminal-output: true;

@include test-module('YIQ Color Contrast') {

  @include test('Is Light [function]') {

    @include assert-equal(yiq-is-light(#fff), true,
      'A light color should return true');

    @include assert-equal(yiq-is-light(#000), false,
      'A dark color should return false');
  }

  @include test('Contrast Color [function]') {

    @include assert-equal(yiq-contrast-color(#fff, red, blue), red,
      'A light color should return the dark param');

    @include assert-equal(yiq-contrast-color(#000, red, blue), blue,
      'A light color should return the light param');
  }

  @include test('Contrasted [mixin]') {
    @include assert('Dark color') {
      $bg-color: #000;

      @include input {
        @include yiq-contrasted($bg-color);
      }

      @include expect {
        background-color: $bg-color;
        color: $yiq-contrasted-light-default;
      }
    }

    @include assert('Light color') {
      $bg-color: #fff;

      @include input {
        @include yiq-contrasted($bg-color);
      }

      @include expect {
        background-color: $bg-color;
        color: $yiq-contrasted-dark-default;
      }
    }
  }
}

@include report();