# Package folders
node_modules

# OS or Editor folders
.DS_Store
*.pem

# Folders to ignore
build
test/output

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
