// Sass YIQ Settings
// =============

/// # Optional Configuration
/// @group api-settings

/// The text color to be used when a background is determined to be "light"
/// @since v2.0 – Renamed from `$yiq-contrasted-dark-default`
/// @group api-settings
/// @type Color
$contrasted-dark-default: #000 !default;

/// The text color to be used when a background is determined to be "dark"
/// @since v2.0 – Renamed from `$yiq-contrasted-light-default`
/// @group api-settings
/// @type Color
$contrasted-light-default: #fff !default;

/// The YIQ lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 & 255.
/// @since v2.0 – Renamed from `$yiq-contrasted-threshold`
/// @group api-settings
/// @type Number
$contrasted-threshold: 128 !default;

/// Toggle diagnostic messages.
/// @since v2.0 – Renamed from `$yiq-debug`
/// @group api-settings
/// @type Boolean
$debug: false !default;
