@use "sass:color";
@use "sass:list";
@use "sass:string";
@use "../../index" as yiq;

$gutter-width: 1em;
$color-list: #000, #fa5400, #87e300, #00a4e4, #983168, #dc404a, #e7ff00,
  #bc9a69;

@mixin hsl-contrasted(
  $color,
  $dark: yiq.$contrasted-dark-default,
  $light: yiq.$contrasted-light-default,
  $threshold: 30%
) {
  $lightness: color.lightness($color);

  background-color: $color;
  color: if($lightness > $threshold, $dark, $light);
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.example-row {
  display: flex;
  justify-content: space-between;
  margin: $gutter-width 0;
}

.example {
  box-sizing: border-box;
  text-align: center;
  width: 20%;
  height: 0;
  padding-top: 10%;
  position: relative;

  &::after {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@for $i from 1 through length($color-list) {
  .example--#{$i} {
    &::after {
      content: string.quote(#{list.nth($color-list, $i)});
    }
  }
  .example--default--#{$i} {
    @include hsl-contrasted(list.nth($color-list, $i));
  }
  .example--50--#{$i} {
    @include hsl-contrasted($color: list.nth($color-list, $i), $threshold: 50%);
  }
  .example--yiq--#{$i} {
    @include yiq.contrasted(list.nth($color-list, $i));
  }
}
